<launch>
    <node name="MamboRos" pkg="ros_minidrones" type="mamboROS.py" respawn="true">
         <param name="~droneId" type="string" value="e0:14:12:ab:3d:bd" />
    </node>

    <node name="MamboRos2" pkg="ros_minidrones" type="mamboROS.py" respawn="true">
         <param name="~droneId" type="string" value="e0:14:a8:47:3d:be" />
         <param name="~delay" type="double" value="10.0" />
    </node>

   <node name="MamboRos3" pkg="ros_minidrones" type="mamboROS.py" respawn="true">
         <param name="~droneId" type="string" value="e0:14:86:a1:3d:c0" />
         <param name="~delay" type="double" value="20.0" />
    </node>         
</launch>